.twitter {
    grid-row: 3;

    .twit {
        position: relative;
        padding: 5px;
        margin-top: 100px;
        background-color: rgb(29, 161, 242);
        font-size: 10px;
        border-radius: 5px;

        .logo-twitter{
            fill: rgb(29, 161, 242);
            background-color: white;
            position: absolute;
            top: 0;
            left: 0;
            display: block;

            width: 40px;
            height: 40px;

            border-radius: 100%;
            border: 5px solid rgb(29, 161, 242);

            img{
                width: 100%;
                border-radius: 100%;
            }
        }

        @media screen and (min-width: 500px) {
            padding: 15px;
            margin: 100px;
            font-size: 8px;
        }

        @media screen and (min-width: 800px) {
            width: 600px;
            margin: 0 auto;
        }

        .verif {
            fill: rgb(29, 161, 242);
            display: inline-block;
            width: 20px;
            height: 20px;
            vertical-align: middle;
        }

        .message {
            color: black;
            background-color: white;
            padding: 5px;
            border-radius: 5px;

            h2 {
                font-weight: normal;
                font-size: 15px;
                margin-top: 25px;
                .bold {
                    font-weight: bold;
                }

                @media screen and (min-width: 500px) {
                    margin-top: 0;
                }

                a{
                    color: rgb(77, 77, 77);
                }
            }
            p{
                color: rgb(77, 77, 77);
                font-size: 20px;
            }
           
        }
    }
}
