/*-------------Pierre Loupy-------------*/


/*-----Mobile-----*/
@font-face
{ 
	font-family: 'MyWebFont';
	src: url('WebFont.eot');
	src: url('WebFont.eot?iefix') format('eot'),
	     url('WebFont.woff') format('woff'),
	     url('WebFont.ttf') format('truetype'),
	     url('WebFont.svg#webfont') format('svg');
}

body
{
	margin: 0;
	min-height: 100vh;
	background: linear-gradient(to bottom right, white, black);
}
img
{
	max-width: 100%;
	border-radius: 10px;
}
p
{
	font-family: 'MyWebFont', regular, sans-serif;
	font-size: 110%;
}
ul
{
	font-family: 'MyWebFont', regular, sans-serif;
	font-size: 110%;
}
/*---------Présentation---------*/


.falcon9
{
	font-family: 'Mywebfont', regular, sans-serif;
	text-align: center;
	padding-top: 30%;
}
.presentation
{
	text-align: center;
	justify-content: space-between;
	padding-right:  100px;
	padding-left: 100px;
	font-size: 150%;
}
#descriptif
{
	display: flex;
	justify-content: space-between;
	padding-top: 50%;
	padding-left: 5%;
}
.texte-descriptif
{
	font-family: 'MyWebFont', regular, sans-serif;
	padding-right: 40px;
	padding-left: 40px;
}


.image-descriptive
{
	padding-right: 20px;
}
/*---------Overview---------*/


.titre-overview
{
	font-family: 'MyWebFont', regular, sans-serif;
	text-align: center;
	padding-top: 50%;
	color: black;
	font-size: 40px;

}
#overview
{
	display: flex;
	justify-content: space-between;
	padding-top: 50%;
	padding-left: 5%;
	padding-right: 5%;
	justify-content: space-between;
}
.text-overview
{	
	line-height: 20px;
}
.image-overview
{
	max-width: 50%;
	width: 50%;
}


/*---------fin overview---------*/


/*---------Engines---------*/


.titre-engines
{
	font-family: 'MyWebFont', regular, sans-serif;
	text-align: center;
	padding-top: 50%;
	color: black;
	font-size: 40px;
}
#engines
{
	display: flex;
	justify-content: space-between;
	padding-top: 50%;
	padding-left: 5%;
	padding-right: 5%;
	justify-content: space-between;
}
.text-engines
{
	text-align: justify;
	padding-right: 40px;
	padding-left: 40px;
}
.image-engines
{
	width: 140%;
	padding-right: 40px;
}
.liste-engines
{
	text-align: justify;
	padding-right: 5%;
	padding-left: 5%;
	padding-bottom: 10%;
}


/*---------Ordi---------*/


@media only screen and (min-width: 800px)
{
.falcon9
{
	text-align: center;
	padding-top: 5%;
	font-size: 70px;
}
.presentation
{
	margin-left: 10%;
	margin-right: 10%;
	font-size: 40px;
	text-align: center;
	padding-top: 5%;

}
#descriptif
{
	padding-top: 15%;
	margin-left: 10%;
	margin-right: 10%;
}
.texte-descriptif
{
	text-align: justify;
	font-size: 17px;
	padding-top: 2%;
}
.titre-overview
{
	padding-top: 15%;
	font-size: 50px;
}
#overview
{
	padding-top: 15%;
	margin-left: 10%;
	margin-right: 5%;
}
.text-overview
{
	font-size: 20px;
	padding-left: 17%;
	padding-top: 10%;
}
.titre-engines
{
	padding-top: 15%;
	font-size: 50px;
}
#engines
{
	padding-top: 15%;
	margin-left: 10%;
	margin-right: 10%;
}
.text-engines
{
	text-align: justify;
	font-size: 17px;
	padding-top: 10%;
}
}


@media only screen and (min-width: 1400px)
{
.falcon9
{
	text-align: center;
	padding-top: 5%;
	font-size: 70px;
}
.presentation
{
	margin-left: 10%;
	margin-right: 10%;
	font-size: 40px;
	text-align: center;
	padding-top: 10%;

}
#descriptif
{
	padding-top: 15%;
	margin-left: 10%;
	margin-right: 10%;
}
.texte-descriptif
{
	text-align: justify;
	font-size: 20px;
	padding-top: 20%;
}
.titre-overview
{
	padding-top: 15%;
	font-size: 50px;
}
#overview
{
	padding-top: 15%;
	margin-left: 10%;
	margin-right: 5%;
}
.text-overview
{
	font-size: 20px;
	padding-left: 17%;
	padding-top: 10%;
}
.titre-engines
{
	padding-top: 15%;
	font-size: 50px;
}
#engines
{
	padding-top: 15%;
	margin-left: 10%;
	margin-right: 10%;
}
.text-engines
{
	text-align: justify;
	font-size: 20px;
	padding-top: 15%;
}
}